<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <!-- <script src="{{root}}assets/js/jquery.js"></script> -->
  </head>
  <body>

    <div class="off-canvas position-left" id="offCanvas" data-transition="overlap" data-off-canvas>

      {{> mobile-menu}}

    </div>

    <div class="off-canvas-content" data-off-canvas-content>
      
      {{> mobile_topMenu}}
      {{> menu}}
      {{> body}}
      {{> footer}}
      
    </div>

    <script src="{{root}}assets/js/app.js"></script>
    <!-- <script src="{{root}}assets/js/owl.carousel.min.js"></script> -->
    <!-- <script src="{{root}}assets/ajax/get_work.js"></script> -->
  </body>
</html>