<section id="brif">
  <div class="grid-container section-start">
    <div class="grid-x section-start">
      <div class="small-12 cell text-center">
        <h2 class="mis-font-medium">{{brif_title}}</h2>
        <p class="margin-bottom-3">Или позвоните нам <span class="mis-font-medium">+7 (499) 234 45 45</span>. Так мы сможем сделать точный просчет стоимости будущей работы.</p>
        <p class="mis-font-italic mis-dark-gray"><small>Все поля со знаком <span class="mis-light-gray h4">*</span>обязательны для заполнения!</small></p>
        <hr>
      </div>
      <div class="cell small-12 form">
        <div class="grid-container">
          <form action="#">
            <div class="grid-x">
              <label class="input small-12 medium-4 padding-right">
                <p class="mis-font-medium">Введите Ваше имя</p>
                <input type="text" name="text-1502" placeholder="Иванов Иван Иванович" />
              </label>
              <label class="input small-12 medium-4 padding-right">
                <p class="mis-font-medium">Введите Ваш email<span class="mis-light-gray h4">*</span></p>
                <input type="email" name="phone-1255" placeholder="Vashapochta@mail.ru" />
                <p class="text-help mis-font-medium mis-dark-gray"><small>На него мы отправим коммерческое предложение.</small></p>
              </label>
              <label class="input small-12 medium-4">
                <p class="mis-font-medium">Введите Ваш телефон<span class="mis-light-gray h4">*</span></p>
                <input type="text" name="phone-151" placeholder="+7(123) 456-78-78" />
                <p class="text-help mis-font-medium mis-dark-gray"><small>Что бы Мы могли с Вами связаться в течении 15 минут.</small></p>
              </label>
              <div class="small-12 cell text-center">
                <h5 class="mis-font-medium">Дополнительная информация</h5>
                <p class="mis-font-italic mis-dark-gray"><small>Если на какой то пункт Вы затрудняетесь ответить, то просто оставьте поле пустым</small></p>
                <hr>
              </div>
              <label class="input small-12">
                <p class="mis-font-medium">Описание задачи</p>
                <textarea name="textarea-124" placeholder="Нужно сделать скульптуры в человеческий рост из мрамора, а так же цветочные декорации" rows="3"></textarea>
              </label>
              <label class="input small-12 medium-6 large-4 padding-right">
                <p class="mis-font-medium">Материал</p>
                <input type="text" name="text-1532" placeholder="Силикон или стеклопакет" />
              </label>
              <label class="input small-12 medium-6 large-4 padding-right-large">
                <p class="mis-font-medium">Размер</p>
                <input type="text" name="phone-1255" placeholder="Скульптура 2м высотой" />
              </label>
              <label class="input small-12 medium-6 large-4 padding-right-medium">
                <p class="mis-font-medium">Тираж</p>
                <input type="text" name="phone-251" placeholder="3 штуки" />
              </label>
              <label class="input small-12 medium-6 large-4 padding-right-large">
                <p class="mis-font-medium">Сроки</p>
                <input type="text" name="text-1302" placeholder="Через 2 недели / к августу" />
              </label>
              <label class="input small-12 medium-6 large-4 padding-right">
                <p class="mis-font-medium">Бюджет</p>
                <input type="text" name="phone-1655" placeholder="До 500 000 рублей" />
              </label>
              <label class="input small-12 medium-6 large-4">
                <p class="mis-font-medium">Прикрепите файлы: фото или проект</p>
                <input type="text" name="phone-15651" placeholder="Под файлы" />
              </label>
              <label class="input small-12">
                <p class="mis-font-medium">Дополнительная информация</p>
                <textarea name="textarea-124" placeholder="Пожалуйста напишите сюда информацию, которая на Ваш взгляд является важной" rows="3"></textarea>
              </label>
              <div class="cell small-12 submit-button">
                <div class="grid-container">
                  <div class="grid-x small-up-1 medium-up-3">
                    <div class="cell show-for-medium button-bg-left"></div>
                    <div class="cell">
                      <input class="button expanded" type="submit" value="Хочу получить расчет" />
                    </div>
                    <div class="cell show-for-medium button-bg-right"></div>
                  </div>
                  <p class="text-help text-center mis-font-medium mis-dark-gray">
                    <small>
                      Заполнение заявки Вас ни к чему не обязывает и Вы можете отказа
                    </small>
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>