<section id="faq">
  <div class="grid-container section-start">
    <div class="grid-x section-start">
      <div class="small-12 cell text-center">
        <h2 class="mis-font-medium">{{faq_title}}</h2>
      </div>
      <div class="cell small-12">
        <div class="grid-container">
 
          {{#each faq.item}}
          <ul class="accordion" data-accordion data-allow-all-closed="true">
            <li class="accordion-item {{active}}" data-accordion-item>
              <a href="#" class="accordion-title mis-font-medium p">{{title}}</a>
              <div class="accordion-content" data-tab-content>
                <p class="mis-dark-gray">{{content}}</p>
              </div>
            </li>
          </ul>
          {{/each}}


        </div>
      </div>
    </div>
  </div>
</section>