<section id="header" style="background-image: url('{{root}}assets/img/{{header_bg}}')">
  <div id="content" class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell text-center landing_title">
        <h1 class="mis-font-medium">{{header_title}}</h1>
        <h2>{{header_subtitle}}</h2>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-4">

      {{#each header_card.item}}
      <div class="cell">
        <div class="card text-center">
          <div class="card-section">
            <div class="vertical-align">
              <div class="mis-font-medium"><h1>{{stat}}</h1></div>
              <p class="mis-font-medium"><small>{{center}}</small></p>
            </div>
          </div>
          <div class="card-section">
            <p class="mis-font-medium">{{contain}}</p>
          </div>
        </div>
      </div>
      {{/each}}

    </div>
  </div>
  <div class="grid-container grid-form">
    <div class="grid-x small-up-1">
      <div class="cell form">
        <h3 class="text-center mis-font-medium mis-black">{{header_form_title}}</h3>
        <p class="text-center mis-font-italic">Все поля со знаком <span class="mis-light-gray h4">*</span> обязательны для заполнения!</p>
        <hr>
        <form action="javascript:void(0)">
          <div class="grid-container">
            <div class="grid-x">
              <div class="cell small-12 large-5">
                <label class="input">
                  <p class="text-left mis-font-medium mis-black">Введите Ваш телефон<span class="mis-light-gray">*</span></p>
                  <input type="text" name="phone-111" aria-describedby="phone-123" placeholder="+7(123) 456-78-78" />
                  <p id="phone-123" class="text-help mis-font-medium mis-dark-gray"><small>Что бы Мы могли с Вами связаться в течении 15 минут.</small></p>
                </label>
              </div>
              <div class="cell small-12 large-7">
                <div class="grid-container" aria-describedby="name-223">
                  <div class="grid-x small-up-1 medium-up-3">
                    <div class="cell show-for-medium button-bg-left"></div>
                    <div class="cell">
                      <label class="submit">
                        <p class="show-for-large text-left">&nbsp;</p>
                        <input class="button expanded" type="submit" value="Хочу получить расчет" />
                      </label>
                    </div>
                    <div class="cell show-for-medium button-bg-right"></div>
                  </div>
                  <p id="name-223" class="text-help text-center mis-font-medium mis-dark-gray"><small>Заполнение заявки Вас ни к чему не обязывает и Вы можете отказа</small></p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>