<div class="show-for-medium" data-sticky-container>
  <div class="top-bar" data-sticky data-options="marginTop:0;">
    <div class="menu-centered width-100">
      <ul class="menu" data-magellan>
        <li><a class="logo" href="#"><img src="{{root}}assets/img/{{customizer.logo}}" alt="LOGO"></a></li>

        {{#ifpage 'index'}}
        {{#each ladding_menu.nav}}
        <li><a href="{{href}}">{{name}}</a></li>
        {{/each}}
        {{/ifpage}}

        {{#ifpage 'blog' 'page' 'redirect'}}
        {{#each global_menu.nav}}
        <li><a href="{{href}}">{{name}}</a></li>
        {{/each}}
        {{/ifpage}}

        <li>
          <div class="media-object show-for-large">
            <div class="media-object-section">
              <div class="vertical-align">
                <p>
                  {{customizer.phone_number}}
                </p>
                <p>
                  <small>
                    пн-вс с 9:00 до 21:00
                  </small>
                </p>
              </div>
            </div>
            <div class="media-object-section">
              <button class="button secondary vertical-align">Перезвоните мне</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>