<section id="price-list">
  <div class="grid-container section-start">
    <div class="grid-x section-start">
      <div class="small-12 large-7 cell text-center left-content">
        <h2 class="mis-font-medium">{{price_list_title}}</h2>
        <p>{{price_list_subtitle}}</p>
        <div class="grid-container text-left">
          <div class="grid-x small-up-1 medium-up-3">

            {{#each price_list_item.item}}
            <div class="cell price-item">
              <div class="stat text-center">{{num}}</div>
              <p class="vertical-align mis-font-medium"><small>{{name}}</small></p>
            </div>
            {{/each}}

          </div>
        </div>
        <p class="margin-top mis-dark-gray">
          <small>
            Для уточнения более детальной информации и стоимости, <span class="mis-font-medium mis-black">заполните бриф ниже</span><br>
            или позвоните нам по телефону: <span class="mis-font-medium mis-black">{{customizer.phone_number}}</span>
          </small>
        </p>
      </div>
      <div class="cell show-for-large large-5">
        <div class="project-image" data-projectID="{{ID}}" style="background-image: url({{root}}assets/img/{{price_list_bg}})"></div>
      </div>
    </div>
  </div>
</section>