<section id="projects">
  <div class="grid-container section-start">
    <div class="grid-x section-start">
      <div class="small-12 cell text-center">
        <h2 class="mis-font-medium">{{project_title}}</h2>
        <p>{{project_subtitle}}</p>
      </div>
      <div class="cell small-12">
        <div class="grid-container projects-cards">
          <div class="grid-x grid-margin-x small-up-1 medium-up-2" data-equalizer="project-card">

            {{#each project_card.card}}
            <div class="cell">
              <div class="project-image" data-projectID="{{ID}}" style="background-image: url({{root}}assets/img/{{image}})" data-radio="height" data-radio-size="2">
              </div>
              <p class="mis-font-medium h5">{{title}}</p>
              <p>
                <small>
                  {{content}}
                </small>
              </p>
            </div>
            {{/each}}

          </div>
        </div>
      </div>
      <div class="cell small-12">
        <div class="grid-container">
          <div class="grid-x button-ajax">
            <div class="cell medium-4 show-for-medium"></div>
            <div class="cell small-12 medium-4">
              <button class="button expanded">Показать еще</button>
            </div>
            <div class="cell medium-4 show-for-medium"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>