<section id="question">
  <div class="grid-container section-start">
    <div class="grid-x section-start">
      <div class="cell show-for-large large-6">
        <div class="question-image" data-projectID="{{ID}}" style="background-image: url({{root}}assets/img/{{question_bg}})"></div>
      </div>
      <div class="small-12 large-6 cell text-center form">
        <h2 class="mis-font-medium">{{question_title}}</h2>
        <p>{{question_subtitle}}</p>

        <form action="#">
          <div class="grid-container">
            <div class="grid-x">
              <label class="input cell small-12 medium-6 padding-right">
                <p class="text-left mis-font-medium">Ваше имя</p>
                <input type="text" name="text-1350" placeholder="Иванов Иван Иванович" />
              </label>
              <label class="input cell small-12 medium-6 padding-left">
                <p class="text-left mis-font-medium">Ваш email</p>
                <input type="text" name="phone-16f55" placeholder="Vashapochta@mail.ru" />
              </label>
              <label class="input cell small-12">
                <p class="text-left mis-font-medium">Ваш вопрос</p>
                <textarea name="textarea-124" placeholder="Задайте интересующий Вас вопрос" rows="3"></textarea>
              </label>
              <div class="cell small-12 submit-button">
                <div class="grid-container">
                  <div class="grid-x small-up-1 medium-up-3">
                    <div class="cell show-for-medium button-bg-left"></div>
                    <div class="cell">
                      <input class="button expanded" type="submit" value="Хочу получить расчет" />
                    </div>
                    <div class="cell show-for-medium button-bg-right"></div>
                  </div>
                  <!-- <p class="text-help text-center">
                    <small>
                      Заполнение заявки Вас ни к чему не обязывает и Вы можете отказа
                    </small>
                  </p> -->
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>