<section id="steps">
  <div class="grid-container section-start">
    <div class="grid-x section-start">
      <div class="small-12 cell text-center">
        <h2 class="mis-font-medium">{{steps_title}}</h2>
      </div>
      <div class="small-12 cell">
        <div class="grid-container">
          <div class="grid-x small-up-1 medium-up-2 large-up-4">

            {{#each step.item}}
            <div class="cell step-item">
              <p class="text-center icon" data-radio="width" data-radio-size="1">
                <img src="{{root}}assets/img/steps/bg.png" />
                <i class="mis-icon-{{icon}}"></i>
              </p>
              <p class="text-center description mis-font-medium">
                <small>
                  {{description}}
                </small>
              </p>
            </div>
            {{/each}}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>