<section id="work">
  <div class="grid-container section-start">
    <div class="grid-x section-start">
      <div class="small-12 cell text-center">
        <h2 class="mis-font-medium">{{work_title}}</h2>
      </div>
      <div class="cell small-12 menu-centered">
        <ul class="menu category-navigation">
          <li>
            <button class="hollow button grey mis-font-medium active" data-catID="all">Все работы</button>
          </li>

          {{#each work_cat.category}}
          <li>
            <button class="hollow button grey mis-font-medium" data-catID="{{id}}">{{cat}}</button>
          </li>
          {{/each}}

        </ul>
      </div>
      <div class="cell small-12">
        <div class="grid-container work-cards" data-equalizer="content">
          <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3" data-equalizer="bottom">

            {{#each work_card.work}}
            <div class="cell">
              <div class="card text-center" data-workid="{{workID}}" style="background-image: url({{root}}assets/img/{{image}})">
                <div class="card-section">
                  <div class="hidden" data-equalizer-watch="content">
                    <h6 class="mis-font-medium">{{title}}</h6>
                    <p class="text-left">
                      <small>
                        {{content}}
                      </small>
                    </p>
                  </div>
                  <div data-equalizer-watch="bottom">
                    <p class="text-cente mis-font-medium">{{title}}</p>
                    <div class="clear-both"></div>
                    <p class="left none mis-font-medium"><small>Срок: {{time}} {{date}}</small></p>
                    <p class="right none mis-font-medium"><small>Стоимость: {{price}} руб.</small></p>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}

          </div>
        </div>
      </div>
      <div class="cell small-12">
        <div class="grid-container">
          <div class="grid-x button-ajax">
            <div class="cell medium-4 show-for-medium"></div>
            <div class="cell small-12 medium-4">
              <button class="button expanded">Показать еще</button>
            </div>
            <div class="cell medium-4 show-for-medium"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>