<section id="work_form" style="background-image: url({{root}}assets/img/{{work_form_bg}});">
  <div class="grid-container">
    <div class="grid-x">
      <div class="small-12 large-8 cell text-center">
        <div class="vertical-align">
	        <h1 class="mis-font-medium">{{work_form_title}}</h1>
	        <h2>{{work_form_subtitle}}</h2>
	        <h2 class="mis-font-medium">{{work_form_subtitle2}}</h2>
	      </div>
      </div>
      <div class="small-12 large-4 cell text-center">
      	<h2 class="mis-font-medium">Бесплатно!</h2>
      	<h5 class="mis-font-medium">Получите расчет стоимости!</h5>
      	<p class="mis-font-italic mis-dark-gray">Все поля со знаком <span class="mis-light-gray">*</span>обязательны для заполнения!</p>
      	<hr>
      	<form class="text-left">
      		<label class="input">
            <p class="mis-font-medium">Введите Ваше имя</p>
            <input type="text" name="text-151" placeholder="Иванов Иван Иванович" />
          </label>
      		<label class="input">
            <p class="mis-font-medium">Введите Ваш email<span class="mis-light-gray">*</span></p>
            <p class="text-help mis-dark-gray mis-font-medium"><small>На него мы отправим коммерческое предложение.</small></p>
            <input type="text" name="phone-155" placeholder="Vashapochta@mail.ru" />
          </label>
      		<label class="input">
            <p class="text-left mis-font-medium">Введите Ваш телефон<span class="mis-light-gray">*</span></p>
            <p class="text-help mis-dark-gray mis-font-medium"><small>Что бы Мы могли с Вами связаться в течении 15 минут.</small></p>
            <input type="text" name="phone-151" aria-describedby="phone-153" placeholder="+7(123) 456-78-78" />
          </label>
      		<label class="input text-center">
          	<input type="submit" class="button" value="Хочу получить расчет" />
          </label>
          <p class="text-center text-help mis-font-medium mis-dark-gray">
          	<small>
          		Заполнение заявки Вас ни к чему не обязывает<br>
          		и Вы можете отказаться в любой момент!
          	</small>
          </p>
      	</form>
      </div>
    </div>
  </div>
</section>