<section id="working">
  <div class="grid-container section-start">
    <div class="grid-x section-start">
      <div class="small-12 cell text-center" data-equalizer="working-description">
        <h2 class="mis-font-medium">{{working_title}}</h2>
        <div class="owl-carousel owl-theme" data-equalizer="working-content">

          {{#each working.slide}}
          <div class="item">
            <div class="card">
              <div class="card-section image">
                <div class="width-100" data-radio="height" data-radio-size="1" style="background-image: url({{root}}assets/img/{{img}});">
                </div>
              </div>
              <div class="card-section">
                <h6 class="mis-font-medium">{{title}}</h6>
                <p class="text-left" data-equalizer-watch="working-content">
                  <small>
                    {{content}}
                  </small>
                </p>
                <p class="text-left mis-font-italic" data-equalizer-watch="working-description">
                  <small>
                    {{description}}
                  </small>
                </p>
              </div>
            </div>
          </div>
          {{/each}}

        </div>
      </div>
    </div>
  </div>
</section>