---
layout: default
title: Hello for Foundation Zurb
---

<div id="blog" class="grid-container blog">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 large-3">
      {{> sidebar}}
    </div>
    <div class="cell small-12 large-9">
      <div class="grid-container">
        <div class="grid-x grid-margin-x blog-content">
          <div class="cell small-12">

            {{> breadcrumbs}}

          </div>
          <div class="cell small-12">
            <h2>Наш блог</h2>
          </div>
          <div class="cell small-12">

            {{> post_card}}
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>