---
layout: default
title: Hello for Foundation Zurb

post_title: Как выбрать узор для декорирования стен
post_ID: 1
post_image: simple-post/1.jpg
post_date: "10.12.2016"
---

<div id="simle-post">
  <div class="grid-container blog">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 large-3">
        {{> sidebar}}
      </div>
      <div class="cell small-12 large-9 post-content">
        <div class="grid-container">
          <div class="grid-x grid-margin-x">
            <div class="cell small-12">

              {{> breadcrumbs}}

            </div>
            <div class="cell small-12">
              <h2 class="mis-font-medium">{{post_title}}</h2>
            </div>
            <div class="cell small-12 mis-sidebar post-page-content">
              
              {{> post_description}}

            </div>
            <div class="cell small-12 text-center">
              <a href="./blog.html" class="button">Назад к списку статей</a>
            </div>
            <div class="cell small-12 mis-sidebar service">
              
              <h6 class="sidebar-title mis-font-bold">Наши услуги</h6>
              <ul class="menu">
                
                {{#each simple_post_uslugi.uslugi}}
                  <li><a href="{{url}}"><i class="mis-icon-arrow-right"></i>{{name}}</a></li>
                {{/each}}

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="post-form" style="background-image: url('{{root}}assets/img/simple-post/form.jpg');">
  <div class="grid-container">
    <div class="grid-x grid-margin-y grid-margin-y grid-padding-x">
      <div class="cell form">
        <h3 class="text-center mis-font-medium">Получите расчет стоимости - это Бесплатно!</h3>
        <p class="text-center mis-font-italic mis-dark-gray">Все поля со знаком <span class="h4 mis-light-gray">*</span>обязательны для заполнения!</p>
        <hr>
        <form action="javascript:void(0)">
          <div class="grid-container">
            <div class="grid-x">
              <div class="cell small-12 large-5">
                <label class="input">
                  <p class="text-left mis-font-medium">Введите Ваш телефон<span class="mis-light-gray">*</span></p>
                  <input type="text" name="phone-111" aria-describedby="phone-123" placeholder="+7(123) 456-78-78" />
                  <p class="text-help mis-font-medium mis-dark-gray"><small>Что бы Мы могли с Вами связаться в течении 15 минут.</small></p>
                </label>
              </div>
              <div class="cell small-12 large-7">
                <div class="grid-container" aria-describedby="name-223">
                  <div class="grid-x small-up-1 medium-up-3">
                    <div class="cell show-for-medium button-bg-left"></div>
                    <div class="cell">
                      <label class="submit">
                        <p class="show-for-large text-left">&nbsp;</p>
                        <input class="button expanded" type="submit" value="Хочу получить расчет" />
                      </label>
                    </div>
                    <div class="cell show-for-medium button-bg-right"></div>
                  </div>
                  <p class="text-help text-center mis-font-medium mis-dark-gray"><small>Заполнение заявки Вас ни к чему не обязывает и Вы можете отказа</small></p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{> comments}}