---
layout: default
title: Hello for Foundation Zurb
---

<div id="redirect" class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="large-12 cell">
      <div class="callout">
        <div class="grid-container">
          <div class="grid-x">
            <div class="cell small-12 text-center">
              <p class="text-center icon" data-radio="width" data-radio-size="1">
                <img src="{{root}}assets/img/steps/bg.png" />
                <i class="mis-icon-tick-box"></i>
              </p>
            </div>
            <div class="cell small-12 text-center">
              <h2 class="mis-font-medium">Спасибо!</h2>
              <p class="mis-font-medium">Ваша заявка успешно принята!</p>
              <hr>
              <p>Мы свяжемся с Вами в течении <span class="mis-font-medium">15 минут!</span></p>
              <p>Или свяжитеся с нами по номеру <span class="mis-font-medium">+7(999) 999-99-99</span></p>
              <hr>
              <p>
                <small>
                  Вы будете перенаправлены на главную страницу через 5 секунд автоматически.<br>
                  Если этого не произошло нажмите на кнопку ниже.
                </small>
              </p>
              <a href="#" class="button">Перейти на главную</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
