<div id="comments">
	<div class="grid-container">
		<div class="grid-x">
			<div class="cell small-12">
				<h2 class="text-center mis-font-medium">Написать комментарий</h2>
			</div>
			<div class="cell small-12 comment-form">
				<form>
					<div class="grid-container">
						<div class="grid-x grid-padding-x grid-margin-y">
							<label class="cell small-12 medium-5 large-4 input">
								<p class="text-left mis-font-medium">Введите Ваше имя:</p>
								<input type="text" placeholder="Иванов Иван" />
							</label>
							<label class="cell small-12 medium-5 large-4 end input">
								<p class="text-left mis-font-medium">Введите Ваш Email:</p>
								<input type="text" placeholder="Vashapochta@mail.ru" />
							</label>
							<label class="cell small-12 input">
								<p class="text-left mis-font-medium">Введите Ваш комментарий:</p>
								<textarea rows="3" placeholder="Комментарий"></textarea>
							</label>
							<div class="cell small-12 submit">
								<div class="float-left">Под капчу</div>
								<div class="float-right">
									<input type="submit" class="button" value="Опубликовать">
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>

			{{#repeat 3}}
			<div class="cell small-12 comment">
				<div class="comment-title">
					<p class="comment-auhtor mis-font-medium">Сергей Сергеевич</p>
					<p class="comment-date"><i class="mis-icon-calendar"></i><small class="mis-font-medium">11.10.2017</small></p>
				</div>
				<div class="comment-description">
					<small>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod dolorem iusto ipsum distinctio, doloribus explicabo est alias iure blanditiis ullam! Ratione totam, eum. Autem, corrupti! Culpa tenetur inventore illum ea.
					</small>
				</div>
			</div>
			{{/repeat}}
			
			<div class="cell small-12 tags">
				<h6 class="mis-font-bold">ТЕГИ:</h6>
				<p class="tag-link">
					{{#each simple_post.post.tag}}
						<a href="{{url}}">{{name}}</a>, 
					{{/each}}
				</p>
			</div>
			
			<div class="cell small-12 recommend-posts">
				<h6 class="title mis-font-bold">ПОХОЖИЕ СТАТЬИ:</h6>
				<ul class="menu">

				{{#each simple_post.post.another_post}}
					<li><a href="{{url}}"><i class="mis-icon-arrow-right"></i>{{name}}</a></li>
				{{/each}}

				</ul>
			</div>

		</div>
	</div>
</div>