<div class="post-image" data-postID="{{post_ID}}" style="background-image: url({{root}}assets/img/{{post_image}})" data-radio="height" data-radio-size="3"></div>
<div class="post-description">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, minima est. Ullam obcaecati quibusdam soluta officiis nam cumque mollitia repellat harum aut beatae nemo, pariatur ad rem, reprehenderit earum perspiciatis.
	</p>
	<p>
		Aspernatur rerum omnis doloremque dolorem necessitatibus atque! Totam at ea rerum. Ducimus suscipit reiciendis, cumque ipsam dolores, repudiandae praesentium molestiae corporis tenetur sit dicta adipisci, dignissimos temporibus sunt neque! Commodi!
	</p>
	<p>
		Libero voluptatem debitis, ullam sunt! Omnis, nemo maiores, voluptatem tempora natus aut distinctio veritatis totam, perspiciatis unde velit enim fuga aliquam repudiandae adipisci ad reiciendis animi sed amet. Ipsam, adipisci.</p>
	<p>
		Asperiores non sapiente quos omnis magni aliquid, ut eius veniam, accusantium nulla, expedita eaque incidunt officia quia. Tempora odio neque est, eius, rerum aliquid ab saepe labore officiis optio sunt.
	</p>
</div>

<div class="after-description">
	<div class="post-date">
		<p><i class="mis-icon-calendar"></i><small class="mis-font-medium">{{post_date}}</small></p>
	</div>
	<div class="social-icon">
		<p>Место под иконки</p>
	</div>
</div>