#brif{
	background-color: $white;
	.grid-container.section-start{
		padding: 2rem;
		.grid-x.section-start{
			padding: 2rem;
			border: 5px solid $grey;
			hr{
				margin-top: 0;
			}
			.margin-bottom-3{
				margin-bottom: 3rem;
			}
			.cell.form{
				input, textarea{
					margin: 0;
				}
				.padding-right, .padding-right-large{
					padding-right: 1rem;
				}
				.input{
					margin-bottom: 2rem;
				}
			}
			.cell.submit-button{
				.button-bg-left, .button-bg-right{
					background-size: contain;
					background-repeat: no-repeat;
				}
				.button-bg-left{
					background-image: url(../img/brif/left.png);
					background-position: calc( 100% + 3rem ) center;
				}
				.button-bg-right{
					background-image: url(../img/brif/right.png);
					background-position: -3rem center;
				}
				input[type="submit"]{
					padding: 1rem;
				}
				p{
					margin: 0;
				}
			}
		}
	}
}

@media only screen and (min-width: 640px) and (max-width: 1024px){
	#brif{
		.padding-right-large{
			padding-right: 0 !important;
		}
		.padding-right-medium{
			padding-right: 1rem;
		}
	}
}

@media only screen and (max-width: 640px){
	#brif .grid-container.section-start{
		padding: 1rem;
		.grid-x.section-start{
			padding: 1rem;
			.padding-right, .padding-right-large, .padding-right-medium{
				padding-right: 0px !important;
			}
		}
	}
}