#faq{
	background-color: $white;
	.grid-container.section-start{
		padding: 2rem;
		.grid-x.section-start{
			padding: 2rem;
			border: 5px solid $grey;
			.cell:nth-of-type(1){
				margin-bottom: 1.5rem;
			}
			ul.accordion{
				li.accordion-item:not(.is-active){
					.accordion-title{
						border-radius: $global-radius;
						&:before{
							content: $mis-icon-arrow-down;
							font-family: 'icomoon';
							color: $medium-gray;
						}
						&:hover, &:focus, &:active{
							color: $black;
						}
					}
				}
				li.accordion-item.is-active{
					.accordion-title{
						&:before{
							content: $mis-icon-arrow-up;
							font-family: 'icomoon';
							color: $medium-gray;
						}
						&:hover, &:focus, &:active{
							color: $black;
						}
					}
					a{
						border-bottom: none;
					}
					.accordion-content{
						border-top: none;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 640px){
	#faq .grid-container.section-start{
		padding: 1rem;
		.grid-x.section-start{
			padding: 1rem;
		}
	}
}