#price-list{
	.grid-container.section-start{
		padding: 2rem;
		padding-top: 0;
		.grid-x.section-start{
			background-color: $white;
			border-radius: $big-radius;
			.cell.left-content:nth-of-type(1){
				padding: 1rem;
				.price-item{
					p{
						width: 60%;
						float: left;
						margin: 0;
						height: auto;
						padding: 0 10px 0 5px;
						line-height: 1.25;
					}
					.stat{
						width: 40%;
						height: 100%;
						padding: 20% 0;
						float: left;
						line-height: 0;
						background-image: url(../img/price-list/stat-bg.png);
						background-position: center;
						background-size: contain;
						background-repeat: no-repeat;
					}
				}
			}
			.project-image{
				border-top-right-radius: $big-radius;
				border-bottom-right-radius: $big-radius;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				height: 100%;
			}
			p.margin-top{
				margin-top: 2rem;
			}
		}
	}
}

@media only screen and (max-width: 640px){
#price-list{
	.grid-container.section-start{
		padding: 1rem;
		.grid-x.section-start .cell.left-content:nth-of-type(1){
			padding: 1rem;
			.price-item{
				margin-top: 1rem;
			}
		}
		.project-image{
			border-top-right-radius: $big-radius;
			border-bottom-right-radius: $big-radius;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 100%;
		}
		p.margin-top{
			margin-top: 2rem;
		}
	}
}
}