#projects{
	.grid-container.section-start{
		padding: 2rem;
		.grid-x.section-start{
			padding: 2rem;
			background-color: $white;
			border-radius: $big-radius;
			.projects-cards .cell{
				margin-top: 0.75rem;
				.project-image{
					border-radius: $big-radius;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					margin-bottom: 1rem;
				}
			}
				.button-ajax .cell{
					margin-top: 2rem;
					&:nth-of-type(1){
						background-image: url(../img/work/button/left.png);
						background-size: contain;
						background-repeat: no-repeat;
						background-position-x: calc( 100% + 2rem );
						background-position-y: center;
					}
					&:nth-of-type(2){
						.button{
							padding-top: 1rem;
							padding-bottom: 1rem;
							margin-bottom: 0;
						}
					}
					&:nth-of-type(3){
						background-image: url(../img/work/button/right.png);
						background-size: contain;
						background-repeat: no-repeat;
						background-position-x: -2rem;
						background-position-y: center;
					}
				}
		}
	}
}

@media only screen and (max-width: 640px){
	#projects .grid-container.section-start{
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		.grid-x.section-start{
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}
	}
}