#question{
	.grid-container.section-start{
		padding: 2rem;
		.grid-x.section-start{
			background-color: $white;
			border-radius: $big-radius;
			.question-image{
				border-top-left-radius: $big-radius;
				border-bottom-left-radius: $big-radius;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				height: 100%;
			}
			.cell.form{
				padding: 1rem;
				form{
					margin-top: 2.5rem;
					label{
						&.padding-left{
							padding-left: 0.5rem;
						}
						&.padding-right{
							padding-right: 0.5rem;
						}
					}
					.submit-button{
						input{
							padding-right: 0;
							padding-left: 0;
							margin-bottom: 0;
						}
						.button-bg-left, .button-bg-right{
							background-size: contain;
							background-repeat: no-repeat;
						}
						.button-bg-left{
							background-image: url(../img/brif/left.png);
							background-position: calc( 100% + 1rem ) center;
						}
						.button-bg-right{
							background-image: url(../img/brif/right.png);
							background-position: -1rem center;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 640px){
#question{
	.grid-container.section-start{
		padding: 1rem;
		.grid-x.section-start{
			.cell.form{
				form{
					label{
						&.padding-left{
							padding-left: 0rem;
						}
						&.padding-right{
							padding-right: 0rem;
						}
					}
				}
			}
		}
	}
}
}