#header{
	margin-bottom: 7.5vw;
	color: $white;
	background-color: $grey;
	background-size: cover;
	background-position: center;
	.landing_title{
		margin: 7.5vw 0;
	}
	.card{
		@include card-container(inherit, $white, 0, none, none, none);
		margin-bottom: 1rem;
		.card-section{
			&:nth-of-type(1){
				width: 11rem;
				height: 11rem;
				margin-right: auto;
				margin-left: auto;
				background-image: url(../img/header/card-bg.png);
				background-size: contain;
				background-position: bottom center;
				background-repeat: no-repeat;
				padding: 0 3rem;
				h1{
					margin: 0;
					line-height: 1;
				}
			}
		}
	}
	.grid-form{
		padding: 2rem;
		.form{
			position: relative;
			top: 7.5vw;
			border-radius: 10px;
			background-color: $white;
			padding: 3rem;
			color: $dark-gray;
			input{
				margin: 0;
				&[type="submit"]{
					padding-left: 0;
					padding-right: 0;
				}
			}
			.cell label:not(.submit){
				padding-right: 1rem;
			}
			.button-bg-left, .button-bg-right{
				background-size: auto 1.75rem;
				background-repeat: no-repeat;
			}
			.button-bg-left{
				background-image: url(../img/header/button-left.png);
				background-position: calc( 100% + 1.5rem ) calc( 100% - 0.5rem );
			}
			.button-bg-right{
				background-image: url(../img/header/button-right.png);
				background-position: -1.5rem calc( 100% - 0.5rem );
			}
		}
	}
}

@media only screen and (max-width: 1024px){
	#header{
		margin-bottom: 15vw;
		.landing_title{
			margin: 15vw 0;
		}
		.grid-form .form{
			top: 15vw;
			.cell label.input{
				max-width: 500px;
				margin: 0 auto;
				text-align: center;
				p{
					text-align: center;
				}
			}
			form > .grid-container > .grid-x > .cell:nth-last-of-type(1){
				margin-top: 1rem;
			}
		}
	}
}

@media only screen and (max-width: 640px){
	#header .grid-form{
		padding: 0.5rem;
		.form{
			padding: 0.5rem;
		}
	}
}