#steps{
	.grid-container.section-start{
		padding: 2rem;
		.grid-x.section-start{
			padding: 2rem;
			background-color: $white;
			border-radius: $big-radius;
			.cell.step-item{
				margin-top: 4rem;
				position: relative;
				p.icon{
					position: relative;
					margin: 0px auto 3rem;
					background-color: $dark-gray;
					border-radius: 100%;
					padding: 2rem;
					[class^="mis-icon-"], [class*=" mis-icon-"]{
						font-size: 4rem;
						padding: 1.75rem;
						border: 2px solid $light-gray;
						border-radius: 100%;
						left: -1.75rem;
						top: 2px;
						position: relative;
						color: $light-gray;
					}
					img{
						position: absolute;
						width: calc( 100% + 5rem );
						height: calc( 100% + 5rem );
						top: -2.5rem;
						left: -2.5rem;
						max-width: none;
					}
					&:after{
						content: $mis-icon-drag;
						position: absolute;
						font-family: 'icomoon' !important;
						speak: none;
						font-style: normal;
						font-weight: normal;
						font-variant: normal;
						text-transform: none;
						line-height: 1;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						font-size: 2rem;
						-moz-osx-font-smoothing: grayscale;
						top: calc( 50% - 1rem );
						left: calc( 150% + 1rem );
						color: $light-gray;
						font-weight: 600;
					}
				}
				p.description{
					line-height: 1.2;
					padding: 0 0.5rem;
				}
				&:nth-last-of-type(1) p.icon:after{
					display: none;
				}
			}
		}
	}
}

@media only screen and (max-width: 1200px){
#steps{
	.grid-container.section-start{
		.grid-x.section-start{
			.cell.step-item{
				p.icon{
					&:after{
						display: none;
					}
				}
			}
		}
	}
}
}

@media only screen and (max-width: 1024px){
#steps{
	.grid-container.section-start{
		.grid-x.section-start{
			.cell.step-item{
				max-width: 300px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}
}

@media only screen and (max-width: 640px){
#steps{
	.grid-container.section-start{
		padding: 1rem;
		.grid-x.section-start{
			padding: 1rem;
		}
	}
}
}