#work_form{
	background-size: cover;
	background-position: center center;
	padding: 2rem;
	.cell{
		&:nth-of-type(1){
			color: $white;
		}
		&:nth-of-type(2){
			padding: 1.5rem;
			border-radius: $big-radius;
			background-color: $white;
			form{
				background-image: url(../img/work_form/form-bg.png);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				p{
					margin: 0;
				}
			}
			hr{
				margin: 1rem auto 2rem;
			}
		}
	}
}

@media only screen and (max-width: 1024px) and (min-width: 640px){
	#work_form .cell{
		&:nth-of-type(1){
			margin-bottom: 2rem;
		}
		&:nth-of-type(2){
			max-width: 600px;
			margin: 0 auto;
		}
	}
}

@media only screen and (max-width: 640px){
	#work_form{
		padding: 1rem;
		.cell{
			&:nth-of-type(1){
				margin-bottom: 1rem;
			}
			&:nth-of-type(2){
				padding: 1rem;
				p.text-help{
					display: none;
				}
			}
		}
	}
}