#working{
	.grid-container.section-start{
		padding: 2rem;
		.grid-x.section-start{
			padding: 2rem;
			background-color: $white;
			border-radius: $big-radius;
			.owl-carousel{
				.card-section.image div{
					border-radius: $global-radius;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
				}
				.owl-nav{
					.owl-prev{
						left: -4rem;
					}
					.owl-next{
						right: -4rem;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 640px){
#working{
	.grid-container.section-start{
		padding: 1rem;
		.grid-x.section-start{
			.owl-carousel{
				.owl-nav{
					.owl-prev{
						left: -3rem;
					}
					.owl-next{
						right: -3rem;
					}
				}
			}
		}
	}
}
}