#work{
	.grid-container.section-start{
		padding: 2rem;
		.grid-x.section-start{
			padding: 2rem;
			background-color: $white;
			border-radius: $big-radius;
			.menu.category-navigation li{
				margin: 0.5rem 0.5rem 0 0.5rem;
				button{
					border-bottom: 2px solid transparent;
					color: #787878;
					font-size: 11pt;
				}
				button.active{
					color: $black;
					border-radius: 0;
					border-bottom: 2px solid $light-gray;
				}
			}
			.card{
				margin-top: 2rem;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				border-radius: $big-radius;
				color: $white;
				.card-section{
					padding: 0;
				}
				[data-equalizer-watch="content"], [data-equalizer-watch="bottom"]{
					background-color: rgba( 50, 50, 50, 0.75);
					padding: 1rem;
				}
				.left{
					float: left;
					max-width: 40%;
				}
				.right{
					float: right;
					max-width: 60%;
				}
				p{
					margin: 0;
				}
				[data-equalizer-watch="bottom"]{
					border-top: 1px solid inherit;
				}
				.clear-both{
					clear: both;
				}
				[data-equalizer-watch="bottom"]{
					overflow: hidden;
				}
				.hidden{
					visibility: collapse;
				}
				.none{
					display: none;
				}
				&:hover{
					.hidden{
						visibility: inherit;
					}
					.none{
						display: block;
					}
					[data-equalizer-watch="bottom"] p:not(.none){
						display: none;
					}
					[data-equalizer-watch="bottom"]{
						border-top: 1px solid $white;
					}
				}
			}
		}
	}
	.button-ajax .cell{
		margin-top: 2rem;
		&:nth-of-type(1){
			background-image: url(../img/work/button/left.png);
			background-size: contain;
		    background-repeat: no-repeat;
		    background-position-x: calc( 100% + 2rem );
		    background-position-y: center;
		}
		&:nth-of-type(2){
			.button{
				padding-top: 1rem;
				padding-bottom: 1rem;
				margin-bottom: 0;
			}
		}
		&:nth-of-type(3){
			background-image: url(../img/work/button/right.png);
			background-size: contain;
		    background-repeat: no-repeat;
		    background-position-x: -2rem;
		    background-position-y: center;
		}
	}
}

@media only screen and (max-width: 640px){
	#work .grid-container.section-start{
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		.grid-x.section-start{
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}
	}
}