#blog{
	margin-top: 3rem;
}

@media only screen and (max-width: 1024px) and (min-width: 640px){
	#blog{
		margin-top: 2rem;
	}
	.blog-content{
		margin-right: 2rem;
		margin-left: 2rem;
	}
}

@media only screen and (max-width: 640px){
	#blog{
		margin-top: 1rem;
	}
	.blog-content{
		margin-right: 1rem;
		margin-left: 1rem;
	}
}