#comments{
	background-color: $white;
	padding-top: 2rem;
	.comment-form{
		background-color: $grey;
		border-radius: $big-radius;
		padding: 2rem 1rem;
		input{
			margin: 0;
		}
		.submit{
			padding: 1rem;
			overflow: hidden;
			.float-right{
				float: right;
			}
			.float-left{
				float: left;
			}
		}
	}
	.comment{
		margin-top: 2rem;
		padding: 2rem;
		border-radius: $big-radius;
		border: 1px solid $grey;
		.comment-title{
			overflow: hidden;
			border-bottom: 1px solid $grey;
			.comment-auhtor{
				float: left;
			}
			.comment-date{
				float: right;
				i{
					margin-right: 10px;
				}
			}
		}
		.comment-description{
			margin-top: 1rem;
		}
	}
	.tags{
		margin-top: 2rem;
		padding: 2rem;
		border: 5px solid $grey;
		.tag-link{
			margin: 0;
			a{
				color: $dark-gray;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
					color: $medium-gray;
				}
			}
		}
	}
	.recommend-posts{
		margin-top: 2rem;
		margin-bottom: 2rem;
		.title{
			padding-bottom: 1rem;
			margin-bottom: 1rem;
			border-bottom: 3px solid $light-gray;
		}
		.menu{
			li{
				width: 25%;
				padding-right: 15px;
				a{
					color: $dark-gray;
					&:hover{
						color: $black;
					}
					i{
						margin-right: 10px;
						color: $dark-gray;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) and (min-width: 640px){
	#comments{
		padding-left: 2rem;
		padding-right: 2rem;
		.recommend-posts .menu li{
			width: calc( 100% / 2 );
		}
	}
}

@media only screen and (max-width: 640px){
	#comments{
		padding-left: 1rem;
		padding-right: 1rem;
		.recommend-posts .menu li{
			width: calc( 100% / 1 );
		}
	}
}