@font-face {
  font-family: 'icomoon';
  src:  url('../font/Icommon/icomoon.eot?afoqc1');
  src:  url('../font/Icommon/icomoon.eot?afoqc1#iefix') format('embedded-opentype'),
    url('../font/Icommon/icomoon.ttf?afoqc1') format('truetype'),
    url('../font/Icommon/icomoon.woff?afoqc1') format('woff'),
    url('../font/Icommon/icomoon.svg?afoqc1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'GothamProRegular';
    src: url('../font/GothamProRegular/GothamProRegular.woff') format('woff');
}

@font-face {
    font-family: 'GothamProMedium';
    src: url('../font/GothamProMedium/GothamProMedium.woff') format('woff');
}

@font-face {
    font-family: 'GothamProItalic';
    src: url('../font/GothamProItalic/GothamProItalic.woff') format('woff');
}

@font-face {
    font-family: 'GothamProBold';
    src: url('../font/GothamProBold/GothamProBold.woff') format('woff');
}

.mis-font-medium{
  font-family: 'GothamProMedium';
}

.mis-font-bold{
  font-family: 'GothamProBold';
}

.mis-font-italic{
  font-family: 'GothamProItalic';
}

$medium-black: #787878;
$black: #333333;
$dark-gray: #666666;
$light-gray: #d2bd70;

.mis-medium-black{
  color: $medium-black;
}

.mis-black{
  color: $black;
}

.mis-light-gray{
  color: $light-gray;
}

.mis-dark-gray{
  color: $dark-gray;
}

p, .p{
  font-size: 12pt;
}

h6, .h6{
  font-size: 14pt;
}

h5, .h5{
  font-size: 16pt;
}

h4, .h4{
  font-size: 18pt;
}

h3, .h3{
  font-size: 20pt;
}

h2, .h2{
  font-size: 24pt;
}

h1, .h1{
  font-size: 40pt;
}

@media only screen and (max-width: 1024px) and (min-width: 640px){

p, .p{
  font-size: 11pt;
}

h6, .h6{
  font-size: 12pt;
}

h5, .h5{
  font-size: 14pt;
}

h4, .h4{
  font-size: 16pt;
}

h3, .h3{
  font-size: 18pt;
}

h2, .h2{
  font-size: 22pt;
}

h1, .h1{
  font-size: 30pt;
}

}

@media only screen and (max-width: 640px){

p, .p{
  font-size: 10pt;
}

h6, .h6{
  font-size: 11pt;
}

h5, .h5{
  font-size: 12pt;
}

h4, .h4{
  font-size: 15pt;
}

h3, .h3{
  font-size: 16pt;
}

h2, .h2{
  font-size: 18pt;
}

h1, .h1{
  font-size: 22pt;
}

}