footer{
	padding: 2rem;
	background-color: $black;
	color: $white;
	.grid-container{
		max-width: 100%;
		p{
			margin-bottom: 0px;
		}
		a{
			color: $white;
			padding-top: 0;
			&:hover{
				color: $light-gray;
			}
		}
	}
}

@media only screen and (max-width: 1024px) and (min-width: 640px){
	footer{
		padding: 1rem;
		.cell{
			text-align: left;
		}
	}
}

@media only screen and (max-width: 640px){
	footer{
		padding: 1rem;
		.cell{
			text-align: center;
		}
	}
}