.post-card{
	background-color: $white;
	box-shadow: 0px 0px 5px 1px #c8c8c8;
	border-radius: $big-radius;
	.post-image{
		max-width: 300px;
		margin-right: auto;
		margin-left: auto;
		border-radius: $big-radius;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 1rem;
	}
	.post-title{}
	.post-link{
		margin-top: 1rem;
		padding-top: 1rem;
		border-top: 1px solid $medium-gray;
		.post-date{
			padding: 0.5rem 0.5rem 0 0;
			i{
				padding-right: 5px;
			}
			p{
				margin: 0;
			}
		}
		a.button{
			padding-left: 0;
			padding-right: 0;
			margin: 0;
		}
	}
}