#redirect{
	margin-top: 10vh;
	margin-bottom: 10vh;
	.callout{
		padding: 3.5rem;
		p.icon{
			position: relative;
			margin: 0px auto 3rem;
			background-color: $dark-gray;
			border-radius: 100%;
			padding: 2rem;
			[class^="mis-icon-"], [class*=" mis-icon-"]{
				font-size: 4rem;
				padding: 1.75rem;
				border: 2px solid $light-gray;
				border-radius: 100%;
				left: -1.75rem;
				top: 2px;
				position: relative;
				color: $light-gray;
			}
			img{
				position: absolute;
				width: calc( 100% + 5rem );
				height: calc( 100% + 5rem );
				top: -2.5rem;
				left: -2.5rem;
				max-width: none;
			}
		}
	}
}