.mis-sidebar{
	background-color: $white;
	border-radius: $big-radius;
	padding: 1rem;
	margin-bottom: 2rem;
	box-shadow: 0px 0px 5px 1px #c8c8c8;
	.sidebar-title{
		text-transform: uppercase;
		padding-bottom: 1rem;
		border-bottom: 3px solid $light-gray;
		margin: 0;
	}
	.accordion-menu .is-accordion-submenu-parent{
		& > a{
			color: $dark-gray;
			border-bottom: 1px solid $medium-gray;
			padding: 1rem 2rem 1rem 1rem;
			&:nth-last-of-type(1){
				border-bottom: none;
			}
		}
		&:not(.has-submenu-toggle) > a::after{
			border: none;
			content: '\e902';
			border-top-style: none;
			margin-top: -8px;
			font-family: 'icomoon';
			right: 2rem;
		}
		&[aria-expanded='true'] > a{
			background-color: $light-gray;
			&::after{
				transform-origin: none;
				transform: none;
				content: '\e900';
			}
		}
		.is-submenu-item.is-accordion-submenu-item > a{
			color: $dark-gray;
			font-size: 90%;
			&:hover{
				color: #b7aa7e;
			}
		}
	}
	label.input p{
		margin: 1rem 0 0;
	}
	form input[type="submit"]{
		padding: 0.9rem 0;
	}
}

@media only screen and (max-width: 1024px) and (min-width: 640px){
	.mis-sidebar{
		margin-right: 2rem;
		margin-left: 2rem;
	}
}

@media only screen and (max-width: 640px){
	.mis-sidebar{
		margin-right: 1rem;
		margin-left: 1rem;
	}
}