#simle-post{
	margin-top: 3rem;
	.post-page-content{
		.post-image{
			border-radius: $big-radius;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			margin-bottom: 1rem;
		}
		.after-description{
			overflow: hidden;
			padding-top: 2rem;
			margin-top: 2rem;
			border-top: 1px solid $medium-gray;
			.post-date{
				float: left;
				i{
					margin-right: 10px;
				}
			}
			.social-icon{
				float: right;
			}
		}
	}
	.service{
		margin-top: 1rem;
		ul.menu{
			margin-top: 1rem;
			li{
				width: calc( 100% / 3 );
				a{
					color: $dark-gray;
					&:hover{
						color: $black;
					}
					i{
						color: $medium-gray;
						margin-right: 10px;
					}
				}
			}
		}
	}
}

#post-form{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 1rem 0 0;
	padding: 3rem;
	.form{
		background-color: $white;
		border-radius: $big-radius;
		padding: 2rem;
		box-shadow: 0px 0px 5px 1px #c8c8c8;
		input{
			margin: 0;
			&[type="submit"]{
				padding-left: 0;
				padding-right: 0;
			}
		}
		.cell label:not(.submit){
			padding-right: 1rem;
		}
		.button-bg-left, .button-bg-right{
			background-size: auto 1.75rem;
			background-repeat: no-repeat;
		}
		.button-bg-left{
			background-image: url(../img/header/button-left.png);
			background-position: calc( 100% + 1.5rem ) calc( 100% - 0.5rem );
		}
		.button-bg-right{
			background-image: url(../img/header/button-right.png);
			background-position: -1.5rem calc( 100% - 0.5rem );
		}
	}
}

@media only screen and (max-width: 1024px) and (min-width: 640px){
	#simle-post{
		margin-top: 2rem;
		.post-content{
			padding-left: 2rem;
			padding-right: 2rem;
		}
		.service ul.menu li{
			width: calc( 100% / 2 );
		}
	}

	#post-form{
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media only screen and (max-width: 640px){
	#simle-post{
		margin-top: 1rem;
		.post-content{
			padding-left: 1rem;
			padding-right: 1rem;
		}
		.service ul.menu li{
			width: calc( 100% / 1 );
		}
	}

	#post-form{
		padding-left: 1rem;
		padding-right: 1rem;
	}
}