.top-bar{
	&.shrink{
		transition: all 0.3s ease-out 0s;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border-bottom: 1px solid $medium-gray;
		background-color: rgba( $white, 0.4 );
		&:hover{
			padding-top: 1rem;
			padding-bottom: 1rem;
			background-color: rgba( $white, 1 );
		}
		*:not(.button){
			background-color: rgba( $white, 0 );
		}
	}
	.menu-centered{
		width: 100%;
		ul.menu li{
			img{
				max-height: 3rem;
			}
			a:not(.logo){
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				height: 2.4rem;
				color: $dark-gray;
				border-bottom: 2px solid inherit;
				&:hover{
					color: $dark-black;
					border-bottom: 2px solid $primary-color;
				}
			}
			&:nth-of-type(1){
				width: 25rem;
				margin-right: auto;
				a{
					margin-right: auto;
				}
			}
			&:nth-last-of-type(1){
				width: 25rem;
				margin-left: auto;
				.media-object{
					margin: 0;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					.media-object-section{
						.vertical-align{
							position: relative;
							top: 50%;
							transform: translateY(-50%);	
						}
						p, h6 {
							margin: 0;
							text-align: right;
							line-height: 1;
						}
						button{
							max-height: 3rem;
							padding: 1rem 2rem;
							position: relative;
							top: 50%;
							transform: translateY(-50%);
						}
					}
				}
			}
		}
	}
}

#modal-form{
	top: 15vh !important;
	padding: 2rem;
	border-radius: $big-radius;
	.close-button{
		font-size: 40px;
		position: fixed;
		background-color: $white;
		border-radius: 100%;
		line-height: 0;
		width: 50px;
		padding: 25px 0;
		top: calc( 15vh - 25px );
		left: calc( 50vw - 25px );
	}
	hr{
		margin-top: 0;
		border-bottom: 3px solid $light-gray;
	}
	input[type="submit"]{
		padding: 1rem 0;
	}
}

@media only screen and (max-width: 1150px){
	.top-bar{
		&.shrink{
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
		}
		.menu-centered ul.menu li{
			&:nth-of-type(1), &:nth-last-of-type(1){
				width: auto;
			}
		}
	}
}

@media only screen and (max-width: 900px) and (min-width: 640px){
	.top-bar .menu-centered ul.menu li{
		margin: 0;
		&:nth-of-type(1){
			width: 100vw;
			a{
				margin: 0;
			}
		}
		&:nth-last-of-type(1){
			display: none;
		}
	}
}