@charset 'utf-8';

@import 'icons';
@import 'owlCarousel/owl.carousel';
@import 'settings';
@import 'foundation';
@import 'motion-ui';


@include foundation-global-styles;
// @include foundation-grid;
// @include foundation-flex-grid;
//
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

@import 'topMenu';
@import 'mobile_menu';
@import 'footer';
@import 'sidebar';
@import 'breadcrumbs';
@import 'blog';
@import 'comments';
@import 'post_card';
@import 'simple_post';
@import 'redirect';
@import 'landing/section_header';
@import 'landing/work';
@import 'landing/work_form';
@import 'landing/project';
@import 'landing/price_list';
@import 'landing/brif';
@import 'landing/steps';
@import 'landing/working';
@import 'landing/faq';
@import 'landing/question';
@import 'font';

*{
	outline: none;  
}

.vertical-align{
	position: relative;
	top: 50%;
	transform: translateY(-50%);

}

.button.expanded{
	padding-right: 0;
	padding-left: 0;
}