@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?afoqc1');
  src:  url('fonts/icomoon.eot?afoqc1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?afoqc1') format('truetype'),
    url('fonts/icomoon.woff?afoqc1') format('woff'),
    url('fonts/icomoon.svg?afoqc1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mis-icon-"], [class*=" mis-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mis-icon-arrow-down:before {
  content: "\e900";
}
.mis-icon-arrow-right:before {
  content: "\e901";
}
.mis-icon-arrow-up:before {
  content: "\e902";
}
.mis-icon-calendar:before {
  content: "\e903";
}
.mis-icon-cancel:before {
  content: "\e904";
}
.mis-icon-drag:before {
  content: "\e905";
}
.mis-icon-facebook:before {
  content: "\e906";
}
.mis-icon-google:before {
  content: "\e907";
}
.mis-icon-inst:before {
  content: "\e908";
}
.mis-icon-meeting:before {
  content: "\e909";
}
.mis-icon-pages:before {
  content: "\e90a";
}
.mis-icon-planning:before {
  content: "\e90b";
}
.mis-icon-search:before {
  content: "\e90c";
}
.mis-icon-speech-bubble:before {
  content: "\e90d";
}
.mis-icon-tick-box:before {
  content: "\e90e";
}
.mis-icon-twit:before {
  content: "\e90f";
}
.mis-icon-vk:before {
  content: "\e910";
}
.mis-icon-ytube:before {
  content: "\e911";
}
