@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?afoqc1');
  src:  url('#{$icomoon-font-path}/icomoon.eot?afoqc1#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?afoqc1') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?afoqc1') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?afoqc1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mis-icon-"], [class*=" mis-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mis-icon-arrow-down {
  &:before {
    content: $mis-icon-arrow-down;
  }
}
.mis-icon-arrow-right {
  &:before {
    content: $mis-icon-arrow-right;
  }
}
.mis-icon-arrow-up {
  &:before {
    content: $mis-icon-arrow-up;
  }
}
.mis-icon-calendar {
  &:before {
    content: $mis-icon-calendar;
  }
}
.mis-icon-cancel {
  &:before {
    content: $mis-icon-cancel;
  }
}
.mis-icon-drag {
  &:before {
    content: $mis-icon-drag;
  }
}
.mis-icon-facebook {
  &:before {
    content: $mis-icon-facebook;
  }
}
.mis-icon-google {
  &:before {
    content: $mis-icon-google;
  }
}
.mis-icon-inst {
  &:before {
    content: $mis-icon-inst;
  }
}
.mis-icon-meeting {
  &:before {
    content: $mis-icon-meeting;
  }
}
.mis-icon-pages {
  &:before {
    content: $mis-icon-pages;
  }
}
.mis-icon-planning {
  &:before {
    content: $mis-icon-planning;
  }
}
.mis-icon-search {
  &:before {
    content: $mis-icon-search;
  }
}
.mis-icon-speech-bubble {
  &:before {
    content: $mis-icon-speech-bubble;
  }
}
.mis-icon-tick-box {
  &:before {
    content: $mis-icon-tick-box;
  }
}
.mis-icon-twit {
  &:before {
    content: $mis-icon-twit;
  }
}
.mis-icon-vk {
  &:before {
    content: $mis-icon-vk;
  }
}
.mis-icon-ytube {
  &:before {
    content: $mis-icon-ytube;
  }
}

