$icomoon-font-path: "fonts" !default;

$mis-icon-arrow-down: "\e900";
$mis-icon-arrow-right: "\e901";
$mis-icon-arrow-up: "\e902";
$mis-icon-calendar: "\e903";
$mis-icon-cancel: "\e904";
$mis-icon-drag: "\e905";
$mis-icon-facebook: "\e906";
$mis-icon-google: "\e907";
$mis-icon-inst: "\e908";
$mis-icon-meeting: "\e909";
$mis-icon-pages: "\e90a";
$mis-icon-planning: "\e90b";
$mis-icon-search: "\e90c";
$mis-icon-speech-bubble: "\e90d";
$mis-icon-tick-box: "\e90e";
$mis-icon-twit: "\e90f";
$mis-icon-vk: "\e910";
$mis-icon-ytube: "\e911";

