<nav aria-label="Вы находитесь здесь:" role="navigation">
  <ul class="breadcrumbs">

    {{#each breadcrumbs.nav}}
      
      {{#unless is_now_page}}
        <li><a href="{{url}}"><small>{{name}}</small></a></li>
      {{/unless}}
      
      {{#if is_now_page}}
        <li class="mis-font-medium mis-black"><small>{{name}}</small></li>
      {{/if}}
    
    {{/each}}

  </ul>
</nav>