<footer>
	<div class="grid-container">
		<div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-5">
			<div class="cell">
				<p><small>ИП Иванов И.И.</small></p>
				<p><small>ОГРНИП 453853788</small></p>
				<p><small>Адрес: Москва, Ленина д.45, оф.459</small></p>
			</div>
			<div class="cell show-for-large">
				<ul class="menu vertical">
					<li><a href="./page.html"><small>Барельф</small></a></li>
					<li><a href="./page.html"><small>Декоративная штукатурка</small></a></li>
					<li><a href="./page.html"><small>Мозаика</small></a></li>
				</ul>
			</div>
			<div class="cell show-for-medium">
				<ul class="menu vertical">

					{{#each footer_menu.menu}}
					<li><a href="{{url}}"><small>{{name}}</small></a></li>
					{{/each}}

				</ul>
			</div>
			<div class="cell text-right show-for-medium">
				<p><small>Мы в социальных сетях:</small></p>
				<p><small>Под иконки</small></p>
			</div>
			<div class="cell text-right">
				<h5><small>Звоните +7(123) 456 78 09</small></h5>
				<p><small>Режим работы: пн-вс с 9:00 до 21:00</small></p>
				<p><small>Email: info@gmail.com</small></p>
			</div>
		</div>
	</div>
</footer>