<div class="show-for-medium" data-sticky-container>
  <div class="top-bar" data-sticky data-options="marginTop:0;">
    <div class="menu-centered width-100">
      <ul class="menu" data-magellan>
        <li><a class="logo" href="#"><img src="{{root}}assets/img/{{customizer.logo}}" alt="LOGO"></a></li>

        {{#ifpage 'index'}}
        {{#each ladding_menu.nav}}
        <li><a class="mis-font-medium" href="{{href}}">{{name}}</a></li>
        {{/each}}
        {{/ifpage}}

        {{#ifpage 'blog' 'page' 'redirect'}}
        {{#each global_menu.nav}}
        <li><a class="mis-font-medium" href="{{href}}">{{name}}</a></li>
        {{/each}}
        {{/ifpage}}

        <li>
          <div class="media-object show-for-large">
            <div class="media-object-section">
              <div class="vertical-align">
                <h6 class="mis-font-medium mis-black">
                  {{customizer.phone_number}}
                </h6>
                <p class="mis-font-medium mis-medium-black">
                  <small>
                    пн-вс с 9:00 до 21:00
                  </small>
                </p>
              </div>
            </div>
            <div class="media-object-section">
              <button class="button secondary vertical-align" data-open="modal-form">Перезвоните мне</button>
              <div class="reveal" id="modal-form" data-reveal>
                <h4 class="text-center mis-font-medium">Перезвоните  мне</h4>
                <p class="text-center mis-font-medium mis-dark-gray"><small>Заполните телефон и время для звонка и мы Вам перезвоним!</small></p>
                <hr>
                <form>
                  <div class="grid-container">
                    <div class="grid-x">
                      <label class="cell small-12">
                        <p class="show-for-medium mis-font-medium">Введите Ваше имя:</p>
                        <input type="text" placeholder="Иванов Иван" />
                      </label>
                      <label class="cell small-12">
                        <p class="show-for-medium mis-font-medium">Введите Ваш телефон:</p>
                        <input type="text" placeholder="+7(123) 456-78-90" />
                      </label>
                      <label class="cell small-12">
                        <p class="show-for-medium mis-font-medium">Удобное время для звонка</p>
                        <input type="text" placeholder="Например после 15:30" />
                      </label>
                      <label class="cell small-12">
                        <p class="show-for-medium">&nbsp;</p>
                        <input class="button expanded" type="submit" value="Позвоните мне!" />
                      </label>
                    </div>
                  </div>
                </form>
                <button class="close-button" data-close aria-label="Close modal" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>