<ul class="vertical menu" data-magellan>

  {{#ifpage 'index'}}
  {{#each ladding_menu.nav}}
    <li><a href="{{href}}" data-close>{{name}}</a></li>
  {{/each}}
  {{/ifpage}}

  {{#ifpage 'blog' 'page' 'redirect'}}
  {{#each global_menu.nav}}
    <li><a href="{{href}}" data-close>{{name}}</a></li>
  {{/each}}
  {{/ifpage}}
  
</ul>

<ul class="vertical menu">

  {{#each footer_menu.menu}}
    <li><a href="{{url}}" data-close>{{name}}</a></li>
  {{/each}}
  
</ul>

<button class="close-button" aria-label="Close menu" type="button" data-close>
  <span aria-hidden="true">&times;</span>
</button>