<div class="show-for-small-only" data-sticky-container>
	<div class="sticky" data-sticky data-margin-top="0" data-sticky-on="small">
		<div class="title-bar" data-toggle="offCanvas" data-hide-for="medium">
			<button class="menu-icon" type="button" data-toggle="example-menu"></button>
			<div class="title-bar-title"><img src="{{root}}assets/img/logo.svg" alt="LOGO"></div>
		</div>
	</div>
</div>