<div class="grid-container">
  <div class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y small-up-1 medium-up-2 large-up-3" data-equalizer="post-card">

  {{#each post_card.card}}
    <div class="cell post-card">
      <div class="post-image" data-postID="{{ID}}" style="background-image: url({{root}}assets/img/{{image}})" data-radio="height" data-radio-size="1"></div>
      <div data-equalizer-watch="post-card">
        <p class="post-title mis-font-medium">{{title}}</p>
        <p class="post-content">
          <small>
            {{content}}
          </small>
        </p>
      </div>
      <div class="grid-container post-link">
        <div class="grid-x small-up-2">
          <div class="cell post-date">
            <p><i class="mis-icon-calendar"></i><small class="mis-font-medium">{{date}}</small></p>
          </div>
          <div class="cell">
            <a href="{{url}}" class="button expanded">Читать далее</a>
          </div>
        </div>
      </div>
    </div>
  {{/each}}

  </div>
</div>
<div class="grid-container">
  <div class="grid-x grid-margin-x grid-margin-y grid-padding-y" data-equalizer="post-card">
    <div class="cell small-12 large-4 large-offset-4">
      <button class="button expanded">Показать больше статей</a>
    </div>
  </div>
</div>