<div class="mis-sidebar">
  <h6 class="sidebar-title mis-font-bold">Темы статей</h6>
  <ul class="vertical menu accordion-menu" data-accordion-menu>
    
    {{#each post_category.category}}
    <li>
      <a href="#" class="mis-font-medium mis-black h6"><small>{{name}}</small></a>
      <ul class="menu vertical nested">

        {{#each posts}}
        <li>
          <a href="{{url}}" class="mis-black">{{name}}</a>
        </li>
        {{/each}}

      </ul>
    </li>
    {{/each}}

  </ul>
</div>

<div class="mis-sidebar show-for-large">
  <h6 class="sidebar-title mis-font-bold">Поиск по статьям</h6>
  <label class="input">
    <p class="mis-font-medium">Что искать?</p>
    <input type="text" name="text-4502" placeholder="Иванов Иван Иванович" />
  </label>
</div>

<div class="mis-sidebar show-for-large">
  <p class="text-center mis-font-medium">Хотите получать новые статьи на свой Email</p>
  <form>
    <input type="email" name="text-4502" placeholder="Vashapochta@mail.ru" />
    <input type="submit" class="button expanded" value="Хочу получать новые статьи" />
  </form>
</div>